.shadow-glow {
    box-shadow: 0 0 10px #00ff88, 0 0 20px #00ff88, 0 0 30px #00ff88;
  }
  
  .shadow-inner {
    box-shadow: inset 0 0 5px #00ff88;
  }
  
  /* Hide horizontal scrollbar */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  